<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>test</title>
</head>

<body>
    <video id="video" width="640" height="480" autoplay></video>
    <button id="snap">Snap Photo</button>
    <canvas id="canvas" width="640" height="480"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        // Elements for taking the snapshot
            var canvas = document.getElementById('canvas');
            var context = canvas.getContext('2d');
            var video = document.getElementById('video');

            // Trigger photo take
            document.getElementById("snap").addEventListener("click",  async function () {
                context.drawImage(video, 0, 0, 640, 480);
                const dataURL = canvas.toDataURL("image/jpeg");
                const response = await axios.post(`/readcard`, {
                    raw_file: dataURL
                });

                console.log(response);
            });


        // Get access to the camera!
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            // Not adding `{ audio: true }` since we only want video now
            navigator.mediaDevices.getUserMedia({ video: true }).then(function (stream) {
                //video.src = window.URL.createObjectURL(stream);
                video.srcObject = stream;
                video.play();
            });
        }

    </script>
</body>

</html>